{% extends "base.html" %}
{% load static %}
{% block title %} KRYPTOS - Home {%endblock%}

{% block content %}
<div class="container">
    <div class="home">
        <div class="prody-logo">
            <img src="{% static 'pg.png' %}" alt="">
        </div>
        <h1 class="cryptic-title" id="mainapp" style="font-size: 5em">
            KRYPTOS - SHISTECH 2022
        </h1>
        <p style="color:white; font-size: 3em;" id="app" >KRYPTOS is SHISTECH's cryptic hunt. The cryptic hunt shall begin on 1st October 12:00 AM.</p>
    </div>
</div>


{%endblock%}
