{% extends "base.html" %}
{% block title %} KRYPTOS - register {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<ul class ="nav nav-tabs">
	<li role="presentation"><a href="/login/">Login</a></li>
	<li role="presentation" class="active"><a href="/register/">Register</a></li>
</ul>
<h2 style="color:  #16e16e;">Register</h2>
<hr>
	<form method="POST" action="" style="color: white;"> {% csrf_token %}

	{{form|crispy}}
	<input type="submit" value="submit" name="" class="btn btn-primary btn-custom">
</form>
{%endblock%}
