{% extends "base.html" %}

{% block title %} KRYPTOS - rules {%endblock%}

{% block content %}
<div class="col-md-12">
	<h2 style="color: #16e16e;"> Rules </h2>
	<hr>
	<div class="rules">
		<ul type="dot" class="guidelines">
            <li>
                Participants will be provided 48 hours to complete the hunt (12:00 AM)(1st Oct - 3rd Oct).
			</li>
			<li>
                Participants who are found helping other participants or getting help from other participants or non-participants will be disqualified immediately
            </li>

			<li>
                The participants are allowed to use all the resources available to them on the internet for the hunt
			</li>
			<li>
                CAPS, s p a c e s, $peci@l ch@r@cters and numbers are not allowed. E.g. If your answer is "Hello World", enter "helloworld" to proceed to the next level or if your answer is 69 you write 'sixnine' to proceed
			</li>
			<li>
                Winners will be chosen for the first five positions on the basis of the leaderboard.
            </li>
        </ul>
	</div>
</div>

{%endblock%}


